.App {  
    max-width: 40rem;  
    margin: 2rem auto;  
  }  

  .App-body {
    background-color: transparent !important;
    background-attachment: fixed;
    /* overflow: auto !important; */
    /* overflow: hidden !important; */
    /* overflow: scroll !important; */
    /* overflow: visible; */
  }