.chart-wrapper {
  border: 2px solid black;
  margin-bottom: 40px;
}
/* @media (min-width: 768px) {
  .chart-wrapper {
    border: 2px solid black;
    margin-bottom: 40px;
} */

.chart-name {
  width: 600;
  background-color: lightyellow;
  border-bottom: 2px solid black;
  margin-bottom: 0;
}

.text-bg-chart {
  background: rgba(182, 215, 179, 0.6) !important;
  color: black;
}
.chart-bg {
  background: rgba(255, 255, 224, 0.6) !important;
  color: black;
}

.chart-body {
  background-color: transparent !important;
  background-attachment: fixed;
  /* overflow: auto !important; */
  /* overflow: hidden !important; */
  /* overflow: scroll !important; */
  /* overflow: visible; */
}

.modal-open {
  overflow: scroll;
}
.element.style {
  overflow: scroll;
}
