/* LineChart {
  margin: 0 auto;
  background-color: blanchedalmond;
} */

/* #chartPhoto {
  background-image: url(../img/mainPageBackground.png);
  height: 100vh;
  position: static;
  background-size: "cover";
  position: absolute;
  opacity: 0.5;
  transform: scaleX(-1);
} */
#chart-h-100 {
  /* background-color: #b8f2e6; */
  height: 120vh !important;
  background-color: transparent !important;
  background-attachment: fixed;
}

.text-bg-chart {
  background: rgba(182, 215, 179, 0.6) !important;
  color: black;
  height: 70vh;
  width: 70vh;
}

.chart-body {
  /* background: transparent; */
  height: 100vh !important;
  background-color: transparent !important;
  background-attachment: fixed;
  overflow: auto !important;
}

.modal-open {
  overflow: scroll;
}
.element.style {
  overflow: scroll;
}

.chart-name {
  width: 600;
  background-color: lightyellow;
  border: 1px solid grey;
}
