#loginFormAndPhoto {
  background: rgba(182, 215, 179, 0.6);
  display: flex;
}

#loginPhoto {
  width: 50vw !important;
  height: 100vh;
  object-fit: cover;
}

form {
  width: 50%;
  height: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.input-field {
  height: 50px !important;
}

.form-check-label {
  float: left !important;
}

.login-logo {
  width: 50%;
  height: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.button-text {
  color: white;
  text-decoration: none;
}
.button-text:hover {
  color: white;
  text-decoration: none;
}

@media (max-width: 500px) {
  #loginPhoto {
    display: none;
  }

  form {
    width: 100%;
    height: auto;
  }
}
