.login-bg {
  background: rgba(182, 215, 179, 0.6);
  display: flex;
}

#loginPhoto {
  width: 50vw !important;
  height: 100vh;
  object-fit: cover;
}

.login-form {
  width: 50%;
  height: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login-logo {
  width: 50%;
  height: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.login-link {
  text-decoration: none;
  color: #0d6efd;
}

@media (max-width: 500px) {
  #loginPhoto {
    display: none;
  }

  .login-form {
    width: 100%;
    height: auto;
  }
}
