.container-fluid {
  /* background-color: rgb(251, 245, 174); */
  /* background: rgba(182, 215, 179, 0.4); */
  /* background-color: #d6eccd; */
  background: transparent;
}
/* NO LONGER NEEDED */
/* .navlogo {
  margin-left: 5px;
  height: 180px;
  width: auto;
} */

.navbar {
  font-family: "Raleway", sans-serif;
  /* position: fixed; */
  /* top: 0; */
}
