#questionnaire {
  text-align: center;
  background: transparent;
}

.status-h5 {
  padding: 20px 30%;
}

.emoji {
  border: none;
  background: transparent;
  margin: 0.5rem;
}

.emoji-selected {
  box-shadow: 0px 0px 20px 5px yellow !important;
  border-radius: 50%;
  border: none;
}
.emoji:hover {
  box-shadow: 0px 0px 20px 5px yellow;
  border-radius: 50%;
}
.form-check {
  padding-left: 0 !important;
}

div.modal-open div.modal-backdrop {
  z-index: 0 !important;
}

.modal-open {
  overflow: scroll !important;
}
