.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined:hover {
  /* font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48; */
  background-color: yellow;
  border-radius: 50%;
}

#icon-face {
  padding-right: 24px !important;
}
